.ckeditor--direct-uploads-popup {
    display: none;
    background-color: #fff;
    position: absolute;
    border: 1px solid #c4c4c4;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    z-index: 1060;
    padding-top: 0;
    padding-bottom: 0;
}
