.ck-word-count {
    border-left: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    padding: 6px;
    background-color: #fafafa
}

.ck-word-count__words {
    display: inline-block;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #c4c4c4;
    background-color: #fafafa;
}

.ck-word-count__characters {
    display: inline-block;
}

.ck-rounded-corners {
    border-radius: 0 !important;
}

.ck.ck-balloon-panel {
    z-index: 1060 !important;
}

/*
 The following 4 styles are copied from ckeditor css, we just removed the ">" to fix some css issues.
 See tutorize_classic_editor_ui_view.js for the reasons
 */

.ck.ck-editor__main > .ck.ck-editor__background_image_wrapper > .ck-editor__editable {
    background: var(--ck-color-base-background);
    border-radius: 0
}

.ck-rounded-corners .ck.ck-editor__main > .ck.ck-editor__background_image_wrapper > .ck-editor__editable,
.ck.ck-editor__main > .ck.ck-editor__background_image_wrapper > .ck-editor__editable.ck-rounded-corners {
    border-radius: var(--ck-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.ck.ck-editor__main > .ck.ck-editor__background_image_wrapper > .ck-editor__editable:not(.ck-focused) {
    border-color: var(--ck-color-base-border)
}

/*
 The following styles are used for certificate view (notices the nesting inside .ckeditor__document)
 */

.ckeditor__document .ck.ck-editor__main {
    padding: calc(2 * var(--ck-spacing-large));
    background: var(--ck-color-base-foreground);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid var(--ck-color-base-border);
}

.ckeditor__document .ck.ck-content.ck-editor__editable {
    overflow: visible;
    padding: 1cm 0.74in;
    border: none !important;
    margin: 0;
}

.ckeditor__document .ck.ck-editor__background_image_wrapper {
    box-shadow: 0 0 5px rgb(0, 0, 0, .1);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid transparent;
    background-color: #fff;
}

.ckeditor__document .ck.ck-content.ck-editor__editable,
.ckeditor__document .ck.ck-editor__background_image_wrapper {
    width: 21cm;
    min-width: 21cm;
    max-width: 21cm;
    height: 29.7cm;
}

/* remove weird box shadow that causes issues in certificate view */
.ckeditor__document .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    box-shadow: none !important;
}
